<section class="about" id="sobre-mi">
    <h2 class="heading">Sobre <span>Mí</span></h2>

    <div class="about-container">


    

        <div class="octagon-container">
        <div class="octagon-border">
            <video 
                autoplay 
                loop 
                muted 
                playsinline 
                class="octagon-image">
                <source src="/victorCupa.mp4" type="video/mp4">
                Tu navegador no soporta videos.
            </video>
            
            <div class="scanline-effect"></div>
        </div>
    </div>



        <div class="about-content">
            <h3>Ingeniero de Sistemas & Desarrollador Web</h3>
            
            <p class="typing-area">
                <span #textoDictado></span>
            </p>

            <div class="audio-wave">
                <div class="bar"></div><div class="bar"></div><div class="bar"></div>
                <div class="bar"></div><div class="bar"></div><div class="bar"></div>
                <div class="bar"></div>
            </div>

            <a href="#" class="btn-cv">Descargar CV</a>
        </div>
    </div>
</section>