<footer class="footer">
    <div class="footer-text">
        <p>&copy; {{ year }} Víctor Cupa</p>
        <small class="tech-stack">
            Desarrollado con 
            <i class='bx bxl-angular angular-logo'></i>
            Angular
        </small>
    </div>

    <div class="footer-social">
        <a href="https://github.com/Victor-Cupa/Victor-Cupa" target="_blank" aria-label="GitHub">
            <i class='bx bxl-github'></i>
        </a>
        <a href="https://www.linkedin.com/in/victorcupa/" target="_blank" aria-label="LinkedIn">
            <i class='bx bxl-linkedin'></i>
        </a>
    </div>
</footer>