<header class="header">
    <a [routerLink]="['/inicio']" fragment="inicio" class="logo">Victor<span>Cupa</span></a>

    <nav class="navbar">
        <a [routerLink]="['/inicio']" 
           fragment="inicio" 
           [class.active]="seccionActiva === 'inicio'">Inicio</a>

        <a [routerLink]="['/sobre-mi']" 
           fragment="sobre-mi" 
           [class.active]="seccionActiva === 'sobre-mi'">Sobre Mí</a>

        <a [routerLink]="['/portafolio']" 
           fragment="portafolio" 
           [class.active]="seccionActiva === 'portafolio'">Portafolio</a>

        <a [routerLink]="['/aliados']" 
           fragment="aliados" 
           [class.active]="seccionActiva === 'aliados'">Aliados</a>

        <a [routerLink]="['/contacto']" 
           fragment="contacto" 
           [class.active]="seccionActiva === 'contacto'">Contáctame</a>
    </nav>
</header>