<section class="home" id="inicio">
    <div class="home-content">
        <h3>Hola, soy</h3>
        <h1>Víctor Cupa</h1>
        <h3>Y soy un <span class="multiple-text"></span></h3>
        <p>Ingeniero de Sistemas construyendo soluciones tecnológicas modernas, escalables y eficientes. Especializado en arquitectura frontend y desarrollo web de alto impacto.</p>
        
        <div class="social-media">
            <a href="#"><i class='bx bxl-github'></i></a>
            <a href="#"><i class='bx bxl-linkedin'></i></a>
        </div>
        <a href="#portafolio" class="btn">Ver mis proyectos</a>
    </div>

    <div class="home-img">
        <img src="https://ui-avatars.com/api/?name=Victor+Cupa&background=00eeff&color=0b0f19&size=300&font-size=0.4&bold=true" alt="Avatar de Prueba">
    </div>
</section>