<section class="home">
    <div class="home-content">
        <h3>Transformando conceptos en</h3>
        <h1>Soluciones Digitales</h1>
        
        <p>
            Ayudo a empresas y startups a escalar sus ideas mediante arquitecturas de software robustas y 
            soluciones tecnológicas que transforman procesos complejos en experiencias fluidas.
        </p>
        
        <div class="social-media">
            <a href="https://github.com/Victor-Cupa/Victor-Cupa" target="_blank" aria-label="Github">
                <i class='bx bxl-github'></i>
            </a>
            <a href="https://www.linkedin.com/in/victorcupa/" target="_blank" aria-label="LinkedIn">
                <i class='bx bxl-linkedin'></i>
            </a>
        </div>
        
        <a href="#portafolio" class="btn">Ver mis proyectos</a>
    </div>

    <div class="home-img">
        <div class="img-box">
            <img src="assets/victor_cupa.png" alt="Víctor Cupa - Ingeniero de Sistemas">
        </div>
    </div>
</section>