<section class="contact" id="contacto">
    <h2 class="heading">Contácta<span>me</span></h2>

    <div class="contact-container">
        <div class="contact-info">
            <h3>¡Hablemos de tu próximo proyecto!</h3>
            <p>Ingeniero de Sistemas en Colombia construyendo soluciones tecnológicas modernas y eficientes. Si tienes un reto, escríbeme.</p>
            
            <div class="info-item">
                <i class='bx bx-envelope'></i>
                <a href="mailto:{{ email }}" class="email-link">{{ email }}</a>
            </div>
            <div class="info-item">
                <i class='bx bx-map'></i>
                <span>Madrid, Cundinamarca - Colombia</span>
            </div>
        </div>

        <form action="#" class="contact-form">
            <div class="input-stack">
                <input type="text" placeholder="Nombre Completo" required>
                <input type="email" placeholder="Correo Electrónico" required>
                <input type="text" placeholder="Asunto del Mensaje" required>
                <textarea rows="5" placeholder="Escribe tu mensaje aquí..." required></textarea>
            </div>
            
            <div class="button-container">
                <input type="submit" value="Enviar Mensaje" class="btn">
            </div>
        </form>
    </div>
</section>